<div class="page-header" align="center">
  <h1 style="color:#A9A9A9">todos</h1>
</div>

<div class="container">

  <div class="list-group">
    <% @todos.each do |todo| %>
      <div class="list-group-item">
        <button type="button" class="close pull-left"><span class="glyphicon <% if todo.complete %>glyphicon-check<% else %>glyphicon-unchecked<% end %>"></span></button>
        <button type="button" class="close pull-left"><span class="glyphicon <% if todo.priority %>glyphicon-star<% else %>glyphicon-star-empty<% end %>"></span></button>
        <%= todo.content %>
        <%= button_to todo_path(todo), class: "close", method: :delete, form: {class: "pull-right"} do %><span class="glyphicon glyphicon-trash"></span><% end %>
        <%= button_to edit_todo_path(todo), class: "close", method: :get, form: {class: "pull-right"} do %><span class="glyphicon glyphicon-edit"></span><% end %>
      </div>
    <% end %>
  </div>

  <%= link_to 'New', new_todo_path %>

</div>


