@import "bootstrap-sprockets";
@import "bootstrap";

$spacer: 1rem;

/* SPACINGS */
.ml-2 {
  margin-left: ($spacer * 0.5) !important;
}

.ml-3 {
  margin-left: ($spacer * 0.75) !important;
}

.ml-4 {
  margin-left: ($spacer) !important;
}

.mr-2 {
  margin-right: ($spacer * 0.5) !important;
}

.mb-2 {
  margin-bottom: ($spacer * 0.5) !important;
}

.mb-3 {
  margin-bottom: ($spacer * 0.75) !important;
}

.mt-1 {
  margin-top: ($spacer * 0.25) !important;
}

.width-70 {
  width: 70px;
}

/* PROPERTIES */
.strike {
  text-decoration: line-through;
}

.form-inline {
  display: inline;
}

.no-float {
  float: none;
}

.pointer {
  cursor: pointer;
}

.no-resize {
  resize: none;
}

/* COLORS */
.orange {
  color: #E65100;
}

.silver {
  color: #A9A9A9;
}

/* OTHER */
.badge-info {
  color: #fff;
  text-decoration: none;
  background-color: #17a2b8;
}

.close {
  filter: alpha(opacity=30);
  opacity: 0.3;
}

.light-cross {
  color: #eee;
  padding: 0;
  border: none;
  background: none;
  display: inline;
}

.light-cross:hover {
  color: #fff;
  text-decoration: none;
}

.to-show {
  visibility: hidden;
}

.to-hover:hover .to-show {
  visibility: visible;
}

.block {
  cursor: auto;
}

/* NESTED LIST-GROUPS: Credits go to Marcos of Stack Overflow.
Link at https://stackoverflow.com/questions/29063244/consistent-styling-for-nested-lists-with-bootstrap */
.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
}